<app-loader *ngIf="loading" [text]="'Creating you account'"></app-loader>
<div *ngIf="!loading" class="container mt-5">
  <div class="row justify-content-md-center">
    <form class="col col-xl-5 col-lg-7 col-md-10" #signInForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="inputName" class="form-label">First name</label>
        <input type="text" [(ngModel)]="user.firstName" name="firstName" class="form-control" id="inputName" required>
      </div>
      <div class="mb-3">
        <label for="inputLastName" class="form-label">Last name</label>
        <input type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" id="inputLastName" required>
      </div>
      <div class="mb-3">
        <label for="inputPhone" class="form-label">Phone number</label>
        <input type="tel" [(ngModel)]="user.phoneNumber" name="phoneNumber" class="form-control" id="inputPhone"
          required>
        <div class="form-text">Your phone number must be 10 digits long.</div>
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail" required>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="inputPassword"
          required>
        <div class="form-text">Your password must be at least 10 characters long.</div>
      </div>
      <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
      <div class="mt-4" style="text-align: center">
        <button type="submit" class="btn btn-primary px-4" [disabled]="!signInForm.form.valid">
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>